body {
    font-family: 'Rubik', sans-serif;
    background-color: #F5F7F9;
}

#container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

a {
    color: #374251;
}

h1 {
    font-size: 4.7rem;
    font-weight: 700;
    margin-top: 10%;
    letter-spacing: 1px;
}

h1 span#carson {
    color: #6a00ff;
    animation-name: h1-color-light;
    animation-duration: 3s;
    animation-delay: 0s;
}

h1 span#carson:hover {
    color: #6a00ff;
}

@keyframes h1-color-light {
    from {color: black;}
    to {color: #6a00ff;}
  }

  .animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }

article p {
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
    text-transform: lowercase;
}

article a:hover {
    color: #6a00ff;
 }

 .portfolioBtn  {
    display: inline-block;
    border-radius: 5px;
    background-color: #6a00ff;
    cursor: pointer;
    padding: 1.5% 2.5%;
    text-align: center;
    margin-top: 2%;
 }

.portfolioBtn a {
    color: white;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    font-size: 1.2rem;
}

.portfolioBtn:hover {
    border-radius: 5px;
    background-color: #6000e6;
    cursor: pointer;
    text-align: center;
 }

.portfolioBtn a:hover {
    color: white;
}

 #footer {
    margin-top: 17%;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    text-transform: lowercase;
}

footer p {
    margin: 0 auto;
}

footer p, footer a {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
}

footer p:hover {
    color: #0074D9;
}

/* PORTFOLIO */

.portfolio {
    margin: 0 auto;
    width: 90%;
}

#portfolio-header {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 300;
}

/* acts as container for project page */
#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #27313B;
}

.project {
    width: 420px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 7px 0 rgb(30 45 62 / 9%);
    margin: 1%;
    transition: transform .2s;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.02);
}

.project-container {
    padding: 2% 3%;
}

.project-container .tags {
    color: #78828E;
    font-size: .7rem;
}

.project-container h4 {
    color: #36424D;
}

.project-container p {
    letter-spacing: .02rem;
}

.project h4 {
    font-size: 1.4rem;
    margin: 5px 0%;
}

.project img {
    max-width: 100%;
    max-height: 100%;
}

.project:nth-child(1) {
    animation: backInLeft;
    animation-duration: 2s;
}

.project:nth-child(2){
    animation: backInRight;
    animation-duration: 2s;
}

.project:nth-child(3) {
    animation: backInDown;
    animation-duration: 2s;
}

.project:nth-child(4) {
    animation: backInDown;
    animation-duration: 2s;
}

/* MEDIA QUERIES / DARK THEME */

  @media only screen and (max-width: 1024px) {

    #container {
        width: 80%;
    }

    h1 {
        font-size: 4.4rem;
    }

    article p {
        font-size: 1.6rem;
    }

    footer p {
        font-size: 1rem;
    }

  }

@media only screen and (max-width: 907px) {
    #container {
        width: 90%;
    }

    h1 {
        font-size: 4.2rem;
    }

    article p {
        font-size: 1.5rem;
    }

    footer p, footer a {
        font-size: .9rem;
    }

  }

@media only screen and (max-width: 530px) {
   
    #container {
       width: 90%;
   }
   
    h1 {
        font-size: 3.7rem;
    }

    article p {
        font-size: 1.3rem;
    }

    .portfolioBtn {
        padding: 2.5% 4%;
        margin-bottom: 20px;
     }

    .portfolioBtn a {
         font-size: .9rem;
     }

     footer p, footer a{
         font-size: .8rem;
     }

  }

  @media only screen and (max-width: 360px) {
   
    #container {
       width: 90%;
   }
   
    h1 {
        font-size: 3rem;
    }

    article p {
        font-size: 1.2rem;
    }

    .portfolioBtn {
        padding: 2.5% 4%;
        margin-bottom: 20px;
     }

    .bportfolioBtn a {
         font-size: .9rem;
     }

     footer p, footer a {
         font-size: .6rem;
     }

  }

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: darkgrey;
    }

    a {
        color: darkgrey;
    }

    h1 span#carson {
        color: #FFDC00;
    }

    article a:hover {
        color: #FFDC00;
     }

    span.intro {
        color: white;
    }
    
    .portfolioBtn {
        background-color: #FFDC00;
        cursor: pointer;
    }

    .portfolioBtn:hover {
        background-color: #e6c700;
    }

    .portfolioBtn a {
        color: black;
    }

    .portfolioBtn    a:hover {
        color: black;
    }

    footer {
        color: white;
    }

    footer p:hover {
        color: #FFDC00;
    }

    h1 span#carson {
        color: #FFDC00;
        animation-name: h1-color-dark;
        animation-duration: 5s;
        animation-delay: 0s;
    }

    @keyframes h1-color-dark {
        from {color: white;}
        to {color: #FFDC00;}
      }

    /* Portfolio Page DARK */
    .portfolio {
        color: #f2f2f3;
    }

    .portfolio-header {
       color: #f2f2f3;
    }

    .project img {
        border-radius: 3px;
    }

    .project p {
        color: darkgray;
    }

    .project span {
        color: white;
    }

}


