body {
    font-family: 'Rubik', sans-serif;
}

#container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

a {
    color: #374251;
}

p {
    text-transform: lowercase;
}

h1 {
    font-size: 4.4rem;
    font-weight: 700;
    margin-top: 10%;
    letter-spacing: 1px;
}

h1 span#carson {
    color: #6a00ff;
    animation-name: h1-color-light;
    animation-duration: 3s;
    animation-delay: 0s;
}

h1 span#carson:hover {
    color: #6a00ff;
}

@keyframes h1-color-light {
    from {color: black;}
    to {color: #6a00ff;}
  }

  .animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }

article p {
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
}

article a:hover {
    color: #6a00ff;
 }

 .btn {
    border-radius: 5px;
    background-color: #6a00ff;
    cursor: pointer;
    padding: 1.5% 2.5%;
    width: 20%;
    text-align: center;
    margin-top: 8%;
 }

.btn a {
    color: white;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

.btn:hover {
    border-radius: 5px;
    background-color: #6000e6;
    cursor: pointer;
    padding: 1.5% 2.5%;
    width: 20%;
    text-align: center;
    margin-top: 8%;
 }

.btn a:hover {
    color: white;
}

 #footer {
    margin-top: 10%;
    font-family: 'JetBrains Mono', monospace;
}

footer p {
    font-size: 1rem;
    text-align: center;
}

footer p:hover {
    color: #0074D9;
}

@media only screen and (max-width: 767px) {
    #container {
        width: 90%;
    }
    
    h1 {
        font-size: 3.7rem;
        margin-bottom: 9%;
    }
    
    article p {
        font-size: 1.45rem;
        line-height: 160%;
    }

    .btn {
        margin-bottom: 15%;
        font-size: .9rem;
        padding: 10px;
     }

     .btn a {
         font-size: .8rem;
     }

     .btn:hover {
        margin-bottom: 15%;
        font-size: .9rem;
        padding: 10px;
     }

    footer p{
        font-size: .8rem;  
    }
    
  }


@media only screen and (min-width: 768px) {

    #container {
        width: 80%;
    }

    h1 {
        font-size: 3.7rem;
    }

    article p {
        font-size: 1.7rem;
    }

    footer p{
        font-size: .9rem;
    }

  }  

  @media only screen and (min-width: 992px) {
    
    #container {
        width: 70%;
    }
    
    h1 {
        font-size: 4.2rem;
    }

    article p {
        font-size: 1.8rem;
    }

    footer p {
        font-size: 1rem;
    }
    
  }  

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: darkgrey;
    }

    a {
        color: darkgrey;
    }

    h1 span#carson {
        color: #FFDC00;
    }

    h1 span#carson:hover {
        color: #FFDC00;
    }

    article a:hover {
        color: #FFDC00;
     }

    span.intro {
        color: white;
    }
    
    .btn {
        background-color: #FFDC00;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #e6c700;
    }

    .btn a {
        color: black;
    }

    .btn a:hover {
        color: black;
    }

    footer {
        color: white;
    }

    footer p:hover {
        color: #FFDC00;
    }

    h1 span#carson {
        color: #FFDC00;
        animation-name: h1-color-dark;
        animation-duration: 5s;
        animation-delay: 0s;
    }

    @keyframes h1-color-dark {
        from {color: white;}
        to {color: #FFDC00;}
      }

}


