body {
    font-family: 'Rubik', sans-serif;
    background-color: #F5F7F9;
}

a {
    color: #374251;
}

#container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

main {
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

h1 {
    font-size: 4.7rem;
    font-weight: 700;
    margin-top: 10%;
    letter-spacing: 1px;
    color: #374251;
}

h1 span#carson {
    color: #6a00ff;
    animation-name: h1-color-light;
}

p span.stand-out {
    color: #374251;
}

article p {
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
}

article a#ig:hover {
    color: #fc4e5b;
 }

 article a#twitter:hover {
    color: #1ba8ff;
 }

 article a#linkedin:hover {
    color: #0075b4;
 }

 article a#yt:hover {
    color: #FF0000;
 }

 article a#github:hover {
     color: magenta;
 }


 #footer {
    margin-top: 15%;
    margin-bottom: 2%;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    text-transform: lowercase;
}

footer p {
    margin: 0 auto;
}

footer p, footer a {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
}

footer p:hover {
    color: #6000e6;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #6a00ff;
}

/* MEDIA QUERIES */

  @media only screen and (max-width: 1024px) {

    #container {
        width: 80%;
    }

    h1 {
        font-size: 4.4rem;
    }

    article p {
        font-size: 1.6rem;
    }

    footer p {
        font-size: 1rem;
    }

  }

@media only screen and (max-width: 907px) {
    #container {
        width: 90%;
    }

    h1 {
        font-size: 4.2rem;
    }

    article p {
        font-size: 1.5rem;
    }

    footer p, footer a {
        font-size: .9rem;
    }

  }

@media only screen and (max-width: 530px) {
   
    #container {
       width: 90%;
   }
   
    h1 {
        font-size: 3.7rem;
    }

    article p {
        font-size: 1.3rem;
    }

     footer p, footer a{
         font-size: .8rem;
     }

  }

  @media only screen and (max-width: 360px) {
   
    #container {
       width: 90%;
   }
   
    h1 {
        font-size: 3rem;
    }

    article p {
        font-size: 1.2rem;
    }

     footer p, footer a {
         font-size: .6rem;
     }

  }

 
 /* DARK THEME STYLES */ 

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #D8DADC;
    }

    a {
        color: #D8DADC;
    }

    h1 {
        color: #FFF;
    }

    h1 span#carson {
        color: #FFDC00;
    }

    p span.stand-out {
        color: #FFF;
    }

    article a:hover {
        color: #FFDC00;
     }

    span.intro {
        color: white;
    }

    footer {
        color: white;
    }

    footer p:hover {
        color: #FFDC00;
    }


}


