body {
    font-family: 'Rubik', sans-serif;
}

#container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

a {
    color: #374251;
}

h1 {
    font-size: 4.3rem;
    font-weight: 700;
    margin-top: 10%;
    letter-spacing: 1px;
}

h1 span#carson {
    color: black;
    animation-name: h1-color-light;
    animation-duration: 3s;
    animation-delay: 0s;
}

h1 span#carson:hover {
    color: #0074D9;
}

@keyframes h1-color-light {
    from {color: black;}
    to {color: #0074D9;}
  }

  .animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }

article p {
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
}

article a:hover {
    color: #0074D9;
 }

 #footer {
    margin-top: 10%;
    font-family: 'JetBrains Mono', monospace;
}

footer p {
    font-size: 1rem;
    text-align: center;
}

footer p:hover {
    color: #0074D9;
}

@media only screen and (max-width: 760px) {
    #container {
        width: 90%;
    }
    
    h1 {
        font-size: 3.7rem;
        margin-bottom: 9%;
    }
    
    article p {
        font-size: 1.5rem;
    }

    footer p{
        font-size: .8rem;  
    }
    
  }


@media only screen and (min-width: 768px) {

    #container {
        width: 80%;
    }

    h1 {
        font-size: 3.7rem;
    }

  }  

  @media only screen and (min-width: 992px) {
    
    #container {
        width: 70%;
    }
    
    h1 {
        font-size: 4.2rem;
    }
    
  }  

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: darkgrey;
    }

    a {
        color: darkgrey;
    }

    h1 span#carson {
        color: white;
    }

    h1 span#carson:hover {
        color: #FFDC00;
    }

    article a:hover {
        color: #FFDC00;
     }

    span.intro {
        color: white;
    }
    

    footer {
        color: white;
    }

    footer p:hover {
        color: #FFDC00;
    }

    h1 span#carson {
        color: white;
        animation-name: h1-color-dark;
        animation-duration: 3s;
        animation-delay: 0s;
    }

    @keyframes h1-color-dark {
        from {color: white;}
        to {color: #FFDC00;}
      }

}


