:root {
    --font-color: #374251;
    --slider-color: #374351;
    --bg-color: #F5F7F9;
    --standout: #374251;
    --footer-color: #374251;
    --footer-hover: #6000e6;
}

[data-theme="dark"] {
    --font-color: #999999;
    --bg-color: black;
    --slider-color: #f3f3f3;
    --standout: white;
    --footer-color: white;
    --footer-hover: #FFDC00;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--bg-color);
}

a {
    color: var(--font-color);
}

#container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

main {
    animation: fadeIn; 
    animation-duration: 3s; 
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: var(--slider-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: var(--bg-color);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background-color: var(--slider-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

h1 {
    font-size: 4.7rem;
    font-weight: 700;
    margin-top: 8%;
    letter-spacing: 1px;
    color: var(--standout);
}

h1 span {
   margin-left: 1%;
}

p span.stand-out {
    color: var(--standout);
}

article p {
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
    color: var(--font-color);
}

article a#ig:hover {
    color: #fc4e5b;
 }

 article a#twitter:hover {
    color: #1ba8ff;
 }

 article a#linkedin:hover {
    color: #0075b4;
 }

 article a#yt:hover {
    color: #FF0000;
 }

 article a#github:hover {
     color: #34495e;
 }


 #footer {
    margin-top: 15%;
    margin-bottom: 2%;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    text-transform: lowercase;
}

footer p {
    margin: 0 auto;
    color: var(--footer-color);
}

footer p, footer a {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
}

footer p:hover {
    color: var(--footer-hover);
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: var(--footer-hover);
}

/* MEDIA QUERIES */

  @media only screen and (max-width: 1024px) {

    #container {
        width: 80%;
    }

    h1 {
        font-size: 4.4rem;
    }

    article p {
        font-size: 1.6rem;
    }

    footer p {
        font-size: 1rem;
    }

  }

@media only screen and (max-width: 907px) {
    #container {
        width: 90%;
    }

    h1 {
        font-size: 4.2rem;
    }

    article p {
        font-size: 1.5rem;
    }

    footer p, footer a {
        font-size: .9rem;
    }

  }

@media only screen and (max-width: 530px) {
   
    #container {
       width: 90%;
   }
   
    h1 {
        font-size: 3.7rem;
    }

    article p {
        font-size: 1.3rem;
    }

     footer p, footer a{
         font-size: .8rem;
     }

  }

  @media only screen and (max-width: 360px) {
   
    #container {
       width: 90%;
   }
   
    h1 {
        font-size: 3rem;
    }

    article p {
        font-size: 1.2rem;
    }

     footer p, footer a {
         font-size: .6rem;
     }

  }

 
 /* DARK THEME STYLES */ 

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #999999;
    }

    a {
        color: #999999;
    }

    h1 {
        color: #FFF;
    }

    h1 span#carson {
        color: #FFDC00;
    }

    p span.stand-out {
        color: #FFF;
    }

    article a:hover {
        color: #FFDC00;
     }

    span.intro {
        color: white;
    }

    footer {
        color: white;
    }

    footer p:hover {
        color: #FFDC00;
    }


}


