body {
    font-family: 'Rubik', sans-serif;
}

#container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#hand {
    margin-left: .5%;
}

a {
    color: #374251;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 10%;
    letter-spacing: 1px;
}

h1 span#carson {
    color: white;
    animation-name: example;
    animation-duration: 5s;
}

h1 span#carson:hover {
    color: yellow;

}

@keyframes example {
    from {color: white;}
    to {color: yellow;}
  }

article p {
    font-size: 1.6rem;
    line-height: 160%;
    font-weight: 300;
    letter-spacing: .5px;
}

article a:hover {
    color: yellow;
 }

 #footer {
    margin-top: 10%;
    font-family: 'JetBrains Mono', monospace;
}

footer p {
    font-size: 1rem;
    text-align: center;
}

@media only screen and (max-width: 760px) {
    article p{
        font-size: 1.3rem;
    }

    #container {
        width: 90%;
    }

    h1 {
        font-size: 3.7rem;
        margin-bottom: 7%;
    }

    footer p{
        font-size: .8rem;  
    }
    
  }


@media only screen and (min-width: 768px) {

    h1 {
        font-size: 3.7rem;
    }

    #container {
        width: 80%;
    }
  }  

  @media only screen and (min-width: 992px) {
    
    #container {
        width: 70%;
    }
    
    h1 {
        font-size: 4.2rem;
    }
    
  }  

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: darkgrey;
    }

    a {
        color: darkgrey;
    }

    span.intro {
        color: white;
    }

    footer {
        color: white;
    }

}


